@import "mocha.css";

* {
  font-family: NotoSans Nerd Font;
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

window#waybar {
  background-color: @base;
}

#workspaces button {
    padding: 1px;
    margin-right: 1px;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
  background-color: transparent;
}
window#waybar.solo {
  background-color: @text;
}
*/

window#waybar.termite {
  background-color: @base;
}

#custom-igt {
  color: @text;
  background-color: @base;
}

#language {
  background-color: @base;
  color: @text;
}

#mpd {
  background-color: @base;
  color: @text;
}

#tray {
  background-color: @base;
  color: @text;
}

#language {
  background-color: @base;
  color: @text;
}

#network {
  background-color: @base;
  color: @text;
}

#battery {
  background-color: @base;
  color: @text;
}

#backlight {
  background-color: @base;
  color: @text;
}

#wireplumber {
  background-color: @base;
  color: @text;
}

#clock {
  background-color: @base;
  color: @text;
}

#bluetooth {
  background-color: @base;
  color: @text;
}

#workspaces {
  background-color: @base;
  color: @text;
}

#workspaces button {
  background-color: @base;
  color: @text;
}

#workspaces button.active {
  border-radius: 0px;
  box-shadow: inset 0 3px @text;
  color: @text;
  background-color: @base;
}

#workspaces button.empty {
  background-color: @base;
  color: @overlay2;
}

#workspaces button.visible {
  background-color: @base;
  color: @text;
}

#workspaces button.special {
  background-color: @base;
  color: @red;
}

#workspaces button.urgent{
  color: @red;
  background-color: @base;
}

#cpu {
  color: @text;
  background-color: @base;
}

#memory {
  color: @text;
  background-color: @base;
}

#temperature {
  color: @text;
  background-color: @base;
}
