* {
  font-family: NotoSans NF;
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

window#waybar {
  background-color: rgba(42,46,50,1);
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
  background-color: transparent;
}
window#waybar.solo {
  background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: rgba(42,46,50,1);
}

#custom-iris {
  color: #ffffff;
  background-color: rgba(42,46,50,1);
}

#language {
  background-color: rgba(42,46,50,1);
  color: #FFFFFF;
}

#mpd {
  background-color: rgba(42,46,50,1);
  color: #FFFFFF;
}

#tray {
  background-color: rgba(42,46,50,1);
  color: #FFFFFF;
}

#language {
  background-color: rgba(42,46,50,1);
  color: #FFFFFF;
}

#network {
  background-color: rgba(42,46,50,1);
  color: #FFFFFF;
}

#battery {
  background-color: rgba(42,46,50,1);
  color: #FFFFFF;
}

#backlight {
  background-color: rgba(42,46,50,1);
  color: #FFFFFF;
}

#wireplumber {
  background-color: rgba(42,46,50,1);
  color: #FFFFFF;
}

#clock {
  background-color: rgba(42,46,50,1);
  color: #FFFFFF;
}

#bluetooth {
  background-color: rgba(42,46,50,1);
  color: #ffffff;
}

#workspaces {
  background-color: rgba(42,46,50,1);
  color: #ffffff;
}

#workspaces button {
  background-color: rgba(42,46,50,1);
  color: #ffffff;
}

#workspaces button.active {
  border-radius: 0px;
  box-shadow: inset 0 3px #ffffff;
  color: #ffffff;
  background-color: rgba(42,46,50,1);
}

#workspaces button.empty {
  background-color: rgba(42,46,50,1);
  color: #a1a9b1;
}

#workspaces button.visible {
  background-color: rgba(42,46,50,1);
  color: #ffffff;
}

#workspaces button.special {
  background-color: rgba(42,46,50,1);
  color: #ff0000;
}

#workspaces button.urgent{
  color: #ff0000;
  background-color: rgba(42,46,50,1);
}

#cpu {
  color: #ffffff;
  background-color: rgba(42,46,50,1);
}

#memory {
  color: #ffffff;
  background-color: rgba(42,46,50,1);
}

#temperature {
  color: #ffffff;
  background-color: rgba(42,46,50,1);
}
